extends layout

block content
    ng-map
    section.directions
        form
            h1 Meet Me Halfway
            hr
            label
                h2 Address 1
                input.long(type='text')
            label
                h2 Address 2
                input.long(type='text')
            button.button-submit Submit
    script(type='text/javascript', src='javascripts/app.js')
