extends layout

block content
    wh-map#map-canvas(center="map.center", markers="map.markers", places="map.places")
        div(ng-repeat="marker in map.markers")
            wh-marker(marker="marker")
        div(ng-repeat="marker in map.places")
            wh-marker(marker="marker")
    section.directions
        form
            h1 Meet Me Halfway
            hr
            label
                h2 Address 1
                input.long(type='text')
            label
                h2 Address 2
                input.long(type='text')
            button.button-submit Submit
    script(type='text/javascript', src='javascripts/app.min.js')
