doctype
html
    head
        title Lunch
        meta(http-equiv='content-type', content='text/html; charset=utf-8')
        meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
        link(rel='stylesheet', href='stylesheets/styles.css')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800', rel='stylesheet', type='text/css')
        script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?sensor=true&libraries=places')
        //-script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?sensor=true')
    block content
