html {
    height: 100%
}
body {
    height: 100%;
    margin: 0;
    padding: 0
}
#map-canvas {
    height: 100%;
    width: 70%;
    float: right;
}

.directions{
    overflow: hidden;
    height: 100%;
    float: left;
    width: 30%;


}
.directions h1{
    text-align: center;
}
